
* {
    margin: 0;
    padding: 0;
    list-style: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
}

.wrap {
    width: 500px;
    height: 360px;
    margin: 100px auto;
    position: relative;
}

.pic {
    width: 500px;
    height: 360px;
    /*position: relative;*/
    overflow: hidden;
}

.pic .ulRelative {
    position: relative;
    height: 360px;
}

.pic .ulRelative li {
    width: 500px;
    height: 360px;
    float: left;
    /*position: absolute;*/
}

.pic .ulRelative li:nth-child(1) img {
    z-index: 1;
}

.pic ul li img {
    width: 100%;
    height: 100%;
}

/*图片移除后露出下一张*/
.pic .ulNoRelative {
    display: block;
    height: 360px;
}

.pic .ulNoRelative li {
    width: 500px;
    height: 360px;
    position: absolute;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -o-transition: 0.7s;
    z-index: 0;

}

/*z-index 第二高*/
.pic .ulNoRelative .secondZindex {
    z-index: 3;
}

/*z-index 最高*/
.pic .ulNoRelative .topZindex {
    z-index: 4;

}

@keyframes zoomOutLeft {
    from {
        opacity: 1;
        left: 0;
    }

    to {
        opacity: 0;
        left: -50%;
    }
}

.zoomOutLeft {
    animation: zoomOutLeft 2s;
    animation-fill-mode: forwards;
}

.zoom {
    /*position:absolute;*/
    -moz-transform: translate(-150px, -120px);
    -webkit-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
    -ms-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
    -o-transform: scale(1.1) translate(-150px, -120px) skew(15deg, -30deg);
}

.circle {
    z-index: 999;
    width: 105px;
    height: 10px;
    position: absolute;
    bottom: 10px;
    left: 50%;
    margin-left: -50px;
}

.circle ul li {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    background: #fff;
    border-radius: 100%;
    cursor: pointer;
    list-style: none;
    float: left;
}

.circle ul li.current {
    background: red;
}

.btn div {
    z-index: 999;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    color: #fff;
    background: #999;
    background: rgba(0, 0, 0, .5);
    font-size: 20px;
    font-weight: bold;
    font-family: 'Microsoft yahei';
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.btn div.prev {
    left: 0;
}

.btn div.next {
    right: 0;
}
